[Desktop Entry]
Encoding=UTF-8
Name=SftpMan
Comment=SftpMan
Exec=sftpman-gtk
Icon=sftpman
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;System
Name[en_US]=SftpMan
