[Desktop Entry]
Name=SftpMan
Comment=Mount SSHFS/SFTP filesystems
Exec=sftpman-gtk
Icon=sftpman
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Filesystem;System;
